.footer {
  align-items: center;
  background-color: aliceblue;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.drink-icon, .meal-icon {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px;
}